* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Lora", serif;
  background-color: #444444;
}

a {
  text-decoration: none;
}

.contenedor {
  display: flex;
  flex-flow: column nowrap;
}

.margen-interno {
  padding: 0 30px;
}

.header {
  background: url(../imagenes/chocoAudi3.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.logotipo {
  flex: 1 1 auto;
}

.logotipo a {
  color: #ffffff;
  font-size: 30px;
}

.logotipo a:hover {
  color: #686060;
}

.nav {
  flex: 5 1 auto;
}

.nav a {
  color: #ffffff;
  font: size 11px;
  text-transform: uppercase;
  padding: 0 19px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: #686060;
}

.social {
  flex: 1 1 auto;
  display: flex;
}

.social a {
  font-size: 22px;
  letter-spacing: 10px;
  color: #ffffff;
  padding: 0 5px;
}

.social a:hover {
  color: #686060;
}

.texto-principal {
  height: 580px;
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Lora", serif;
  font-size: 21px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}

.seccion {
  /*background: #f7f7f7;*/
  display: flex;
}

.articulos {
  /*background: #f7f7f7;*/
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}

h3 {
  color: #b93f07;
  font-size: 13px;
  padding: 10px 0;
  margin-top: -80px;
  margin-left: 15px;
  /*margin: 5px 15px;*/
}

h2 {
  color: #b93f07;
  font-size: 25px;
  padding: 0px 0 10px 0;
  margin: 5px 15px;
  text-transform: uppercase;
}

p {
  margin: 5px 15px;
}

.article {
  flex: 1 1 40%;
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  flex: 1 1 45%;
  background: #ececec;
}

.article img {
  width: 100%;
}

.article a {
  color: #ffffff;
  font-size: 13px;
  padding: 10px;
  background: #000000;
  margin: 10px 15px;
  display: inline-block;
  border-radius: 5px;
}

.article a:hover {
  background: #546cc3;
}

.navegacion {
  background: #7c2929;
  flex: 1 1 100%;
  margin: 10px 10px 0 0px;
  padding: 5px;
}

.navegacion a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.aside {
  /*background: #f73f52;*/
  flex: 1 1 auto;
  margin: 10px 5px 10px 0;
}

.aside img {
  width: 100%;
}

h4 {
  background: #000;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.footer {
  background: #000;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 20px 10px;
}

.pie {
  text-align: center;
}

.pie a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

/* aqui con los media queries voy diagramando la pagina en diferentes dimensiones de pantalla */
@media all and (max-width: 1192px) {
  .seccion {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    /*height: auto;*/
  }
  .logotipo {
    margin: 15px;
  }
  .nav {
    margin-bottom: 20px;
  }
  .aside {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 15px;
  }
  .nav a {
    font-size: 18px;
    padding: 0 12px;
  }
  .social a {
    font-size: 18px;
    padding: 0 12px;
  }
  h2 {
    font-size: 20px;
  }
  .margen-interno {
    padding: 0 10px;
  }
  .aside h4 {
    font-size: 12px;
  }
  .pie {
    padding: 10px;
  }
}

@media all and (max-width: 860px) {
  .off {
    display: none;
  }
  .logotipo {
    margin: 15px;
  }
  .nav {
    margin-bottom: 20px;
  }
  .nav a {
    font-size: 30px;
    letter-spacing: 18px;
  }
  .social a {
    font-size: 30px;
    letter-spacing: 18px;
  }
  .margen-interno {
    padding: 0 10px;
  }
  .pie {
    padding: 10px 0;
  }
  h2 {
    font-size: 18px;
  }
}

@media all and (max-width: 650px) {
  .articulos {
    flex-direction: column;
  }
  .aside {
    flex-direction: column;
  }
  .logotipo a {
    font-size: 28px;
  }
  .nav a {
    font-size: 28px;
    padding: 0 5px;
    letter-spacing: 15px;
  }
  .social a {
    font-size: 28px;
    padding: 0 5px;
    letter-spacing: 15px;
  }
  .margen-interno {
    padding: 0 10px;
  }
  .pie {
    padding: 10px 0;
  }
  .pie a {
    font-size: 11px;
  }
}

@media all and (max-width: 379px) {
  .aside {
    flex-direction: column;
  }
  .nav a {
    font-size: 26px;
    padding: 0 5px;
    letter-spacing: 15px;
  }
  .social a {
    font-size: 26px;
    padding: 0 5px;
    letter-spacing: 12px;
  }
  .margen-interno {
    padding: 0 10px;
  }
  .pie {
    padding: 10px 0;
  }
  .pie a {
    font-size: 10px;
  }
}
