* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.contenedor {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background: url(../imagenes/vikita_peluso.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}
.menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
}
.logotipo {
  flex: 1 1 auto;
}
.logotipo a {
  color: #ffffff;
  font-size: 30px;
}

.logotipo a:hover {
  color: #686060;
}
.nav {
  flex: 5 1 auto;
}
.nav a {
  color: #ffffff;
  font: size 11px;
  text-transform: uppercase;
  padding: 0 19px;
  letter-spacing: 2px;
}
.nav a:hover {
  color: #686060;
}

.social {
  flex: 1 1 auto;
  display: flex;
}
.social a {
  font: size 18px;
  color: #ffffff;
  padding: 0 5px;
}
.social a:hover {
  color: #686060;
}
.texto-principal {
  background: #6a2c70;
}
h1 {
  background: #b83b5e;
}
.seccion {
  background: #000;
  display: flex;
}
.articulos {
  background: #364f6b;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.article {
  background: #3fc1c9;
  flex: 1 1 40%;
}
.navegacion {
  background: #ffc7c7;
  flex: 1 1 100%;
}
.aside {
  background: #e84545;
  flex: 1 1 auto;
}
.publicidad {
  background: #6639a6;
}
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}
.pie {
  background: #ffd460;
  width: 300px;
}

/* aqui con los media queries voy diagramando la pagina en diferentes dimensiones de pantalla */
@media all and (max-width: 800px) {
  .seccion {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 600px) {
  .articulos {
    flex-direction: column;
  }
}

@media all and (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}
